-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "pg_trgm" WITH SCHEMA "public" VERSION "1.6";

-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "plpgsql" WITH SCHEMA "pg_catalog" VERSION "1.0";

-- DropForeignKey
ALTER TABLE "public"."business_tool_recipients" DROP CONSTRAINT "business_tool_recipients_created_by_fkey";

-- DropForeignKey
ALTER TABLE "public"."job_applicants" DROP CONSTRAINT "job_applicants_assigned_to_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."job_applicants" DROP CONSTRAINT "job_applicants_converted_person_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."applicant_notes" DROP CONSTRAINT "applicant_notes_applicant_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."applicant_notes" DROP CONSTRAINT "applicant_notes_author_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."sales_contacts" DROP CONSTRAINT "sales_contacts_assigned_to_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."sales_contacts" DROP CONSTRAINT "sales_contacts_converted_company_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."sales_contact_notes" DROP CONSTRAINT "sales_contact_notes_contact_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."sales_contact_notes" DROP CONSTRAINT "sales_contact_notes_author_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."sales_events" DROP CONSTRAINT "sales_events_contact_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."sales_events" DROP CONSTRAINT "sales_events_organizer_id_fkey";

-- AlterTable
ALTER TABLE "public"."people" ADD COLUMN     "pracacek_activated_at" TIMESTAMP(3),
ADD COLUMN     "pracacek_activation_code" VARCHAR(20),
ADD COLUMN     "pracacek_activation_expires_at" TIMESTAMP(3),
ADD COLUMN     "pracacek_pin_hash" VARCHAR(255),
ADD COLUMN     "pracacek_quiet_from" VARCHAR(5),
ADD COLUMN     "pracacek_quiet_to" VARCHAR(5);

-- AlterTable
ALTER TABLE "public"."slot_schemes" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."slot_assignments" ADD COLUMN     "reservation_confirmed_at" TIMESTAMP(3),
ADD COLUMN     "reservation_status" VARCHAR(20),
ADD COLUMN     "reserved_until" TIMESTAMP(3);

-- AlterTable
ALTER TABLE "public"."agent_rules" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMPTZ(6);

-- AlterTable
ALTER TABLE "public"."agent_approvals" ALTER COLUMN "requested_at" SET DATA TYPE TIMESTAMPTZ(6),
ALTER COLUMN "decided_at" SET DATA TYPE TIMESTAMPTZ(6);

-- AlterTable
ALTER TABLE "public"."business_tool_defaults" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."job_applicants" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."sales_contacts" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."sales_events" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."sales_contact_assignments" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."sites" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."site_contacts" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."site_communications" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."site_documents" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."service_categories" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."service_appliances" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."service_appliance_manuals" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."service_articles" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."partner_accounts" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."service_chat_sessions" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."velin_daily_plans" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."velin_task_assignments" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."velin_skill_profiles" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."velin_attendance_punches" ALTER COLUMN "source" SET DEFAULT 'velin_gps';

-- AlterTable
ALTER TABLE "public"."velin_geo_fences" ALTER COLUMN "updated_at" SET DEFAULT CURRENT_TIMESTAMP;

-- CreateTable
CREATE TABLE "public"."pracacek_attendance_punches" (
    "id" SERIAL NOT NULL,
    "person_id" INTEGER NOT NULL,
    "kind" VARCHAR(20) NOT NULL,
    "source" VARCHAR(30) NOT NULL DEFAULT 'pracacek_gps',
    "lat" DOUBLE PRECISION,
    "lng" DOUBLE PRECISION,
    "accuracy_m" DOUBLE PRECISION,
    "inside_fence" BOOLEAN NOT NULL DEFAULT false,
    "fence_id" INTEGER,
    "punched_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "approved_by_user_id" INTEGER,
    "approved_at" TIMESTAMP(3),
    "notes" TEXT,

    CONSTRAINT "pracacek_attendance_punches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_daily_plans" (
    "id" SERIAL NOT NULL,
    "person_id" INTEGER NOT NULL,
    "date" DATE NOT NULL,
    "generated_by" VARCHAR(20) NOT NULL DEFAULT 'system',
    "generated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "morning_pushed_at" TIMESTAMP(3),
    "evening_pushed_at" TIMESTAMP(3),
    "status" VARCHAR(20) NOT NULL DEFAULT 'draft',
    "ai_summary" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_daily_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_device_registrations" (
    "id" SERIAL NOT NULL,
    "person_id" INTEGER NOT NULL,
    "expo_push_token" VARCHAR(255) NOT NULL,
    "device_token_hash" VARCHAR(255) NOT NULL,
    "platform" VARCHAR(10) NOT NULL,
    "device_label" VARCHAR(255),
    "app_version" VARCHAR(30),
    "os_version" VARCHAR(30),
    "last_seen_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "revoked_at" TIMESTAMP(3),
    "revoke_reason" VARCHAR(255),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_device_registrations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_evening_reflections" (
    "id" SERIAL NOT NULL,
    "person_id" INTEGER NOT NULL,
    "date" DATE NOT NULL,
    "mood" INTEGER,
    "energy" INTEGER,
    "wins" TEXT,
    "struggles" TEXT,
    "tomorrow_focus" TEXT,
    "free_text" TEXT,
    "ai_summary" TEXT,
    "submitted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_evening_reflections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_geo_fences" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "center_lat" DOUBLE PRECISION NOT NULL,
    "center_lng" DOUBLE PRECISION NOT NULL,
    "radius_m" INTEGER NOT NULL DEFAULT 150,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_geo_fences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_skill_profiles" (
    "id" SERIAL NOT NULL,
    "person_id" INTEGER NOT NULL,
    "skills" JSONB NOT NULL DEFAULT '[]',
    "preferred_shift" VARCHAR(20),
    "speed_factor" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "notes" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_skill_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_task_assignments" (
    "id" SERIAL NOT NULL,
    "daily_plan_id" INTEGER,
    "person_id" INTEGER NOT NULL,
    "created_by" VARCHAR(20) NOT NULL DEFAULT 'system',
    "created_by_person_id" INTEGER,
    "source" VARCHAR(30) NOT NULL DEFAULT 'manager',
    "source_ref_type" VARCHAR(50),
    "source_ref_id" INTEGER,
    "title" VARCHAR(500) NOT NULL,
    "description" TEXT,
    "priority" INTEGER NOT NULL DEFAULT 3,
    "estimated_min" INTEGER,
    "due_at" TIMESTAMP(3),
    "status" VARCHAR(20) NOT NULL DEFAULT 'proposed',
    "accepted_at" TIMESTAMP(3),
    "started_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "blocked_at" TIMESTAMP(3),
    "blocked_reason" TEXT,
    "cancelled_at" TIMESTAMP(3),
    "cancel_reason" VARCHAR(500),
    "actual_min" INTEGER,
    "location_hint" VARCHAR(255),
    "requires_gps_fence" BOOLEAN NOT NULL DEFAULT false,
    "fence_id" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_task_assignments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_task_feedbacks" (
    "id" SERIAL NOT NULL,
    "task_id" INTEGER NOT NULL,
    "self_rating" INTEGER,
    "difficulty" INTEGER,
    "time_actual_min" INTEGER,
    "blockers" TEXT,
    "free_text" TEXT,
    "ai_summary" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_task_feedbacks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pracacek_task_messages" (
    "id" SERIAL NOT NULL,
    "task_id" INTEGER NOT NULL,
    "author_kind" VARCHAR(20) NOT NULL,
    "author_person_id" INTEGER,
    "body" TEXT NOT NULL,
    "attachments" JSONB,
    "read_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pracacek_task_messages_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "pracacek_attendance_punches_fence_id_idx" ON "public"."pracacek_attendance_punches"("fence_id" ASC);

-- CreateIndex
CREATE INDEX "pracacek_attendance_punches_person_id_punched_at_idx" ON "public"."pracacek_attendance_punches"("person_id" ASC, "punched_at" ASC);

-- CreateIndex
CREATE INDEX "pracacek_daily_plans_date_status_idx" ON "public"."pracacek_daily_plans"("date" ASC, "status" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "pracacek_daily_plans_person_id_date_key" ON "public"."pracacek_daily_plans"("person_id" ASC, "date" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "pracacek_device_registrations_expo_push_token_key" ON "public"."pracacek_device_registrations"("expo_push_token" ASC);

-- CreateIndex
CREATE INDEX "pracacek_device_registrations_person_id_active_idx" ON "public"."pracacek_device_registrations"("person_id" ASC, "active" ASC);

-- CreateIndex
CREATE INDEX "pracacek_evening_reflections_date_idx" ON "public"."pracacek_evening_reflections"("date" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "pracacek_evening_reflections_person_id_date_key" ON "public"."pracacek_evening_reflections"("person_id" ASC, "date" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "pracacek_skill_profiles_person_id_key" ON "public"."pracacek_skill_profiles"("person_id" ASC);

-- CreateIndex
CREATE INDEX "pracacek_task_assignments_daily_plan_id_idx" ON "public"."pracacek_task_assignments"("daily_plan_id" ASC);

-- CreateIndex
CREATE INDEX "pracacek_task_assignments_due_at_idx" ON "public"."pracacek_task_assignments"("due_at" ASC);

-- CreateIndex
CREATE INDEX "pracacek_task_assignments_person_id_status_idx" ON "public"."pracacek_task_assignments"("person_id" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "pracacek_task_assignments_source_idx" ON "public"."pracacek_task_assignments"("source" ASC, "source_ref_type" ASC, "source_ref_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "pracacek_task_feedbacks_task_id_key" ON "public"."pracacek_task_feedbacks"("task_id" ASC);

-- CreateIndex
CREATE INDEX "pracacek_task_messages_task_id_created_at_idx" ON "public"."pracacek_task_messages"("task_id" ASC, "created_at" ASC);

-- CreateIndex
CREATE INDEX "product_operations_is_staging_idx" ON "public"."product_operations"("is_staging" ASC);

-- CreateIndex
CREATE INDEX "slot_assignments_reservation_status_idx" ON "public"."slot_assignments"("reservation_status" ASC);

-- CreateIndex
CREATE INDEX "slot_assignments_reserved_until_idx" ON "public"."slot_assignments"("reserved_until" ASC);

-- CreateIndex
CREATE INDEX "service_appliance_manuals_text_trgm_idx" ON "public"."service_appliance_manuals" USING GIN ("extracted_text" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "service_articles_body_search_trgm_idx" ON "public"."service_articles" USING GIN ("body_search" gin_trgm_ops ASC);

-- CreateIndex
CREATE INDEX "service_articles_title_trgm_idx" ON "public"."service_articles" USING GIN ("title" gin_trgm_ops ASC);

-- AddForeignKey
ALTER TABLE "public"."applicant_notes" ADD CONSTRAINT "applicant_notes_applicant_id_fkey" FOREIGN KEY ("applicant_id") REFERENCES "public"."job_applicants"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."applicant_notes" ADD CONSTRAINT "applicant_notes_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."business_tool_recipients" ADD CONSTRAINT "business_tool_recipients_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."job_applicants" ADD CONSTRAINT "job_applicants_assigned_to_id_fkey" FOREIGN KEY ("assigned_to_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."job_applicants" ADD CONSTRAINT "job_applicants_converted_person_id_fkey" FOREIGN KEY ("converted_person_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pracacek_attendance_punches" ADD CONSTRAINT "pracacek_attendance_punches_fence_id_fkey" FOREIGN KEY ("fence_id") REFERENCES "public"."pracacek_geo_fences"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_attendance_punches" ADD CONSTRAINT "pracacek_attendance_punches_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."people"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_daily_plans" ADD CONSTRAINT "pracacek_daily_plans_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."people"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_device_registrations" ADD CONSTRAINT "pracacek_device_registrations_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."people"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_evening_reflections" ADD CONSTRAINT "pracacek_evening_reflections_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."people"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_skill_profiles" ADD CONSTRAINT "pracacek_skill_profiles_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."people"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_task_assignments" ADD CONSTRAINT "pracacek_task_assignments_created_by_person_id_fkey" FOREIGN KEY ("created_by_person_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_task_assignments" ADD CONSTRAINT "pracacek_task_assignments_daily_plan_id_fkey" FOREIGN KEY ("daily_plan_id") REFERENCES "public"."pracacek_daily_plans"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_task_assignments" ADD CONSTRAINT "pracacek_task_assignments_fence_id_fkey" FOREIGN KEY ("fence_id") REFERENCES "public"."pracacek_geo_fences"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_task_assignments" ADD CONSTRAINT "pracacek_task_assignments_person_id_fkey" FOREIGN KEY ("person_id") REFERENCES "public"."people"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_task_feedbacks" ADD CONSTRAINT "pracacek_task_feedbacks_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "public"."pracacek_task_assignments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_task_messages" ADD CONSTRAINT "pracacek_task_messages_author_person_id_fkey" FOREIGN KEY ("author_person_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pracacek_task_messages" ADD CONSTRAINT "pracacek_task_messages_task_id_fkey" FOREIGN KEY ("task_id") REFERENCES "public"."pracacek_task_assignments"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."sales_contact_notes" ADD CONSTRAINT "sales_contact_notes_author_id_fkey" FOREIGN KEY ("author_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_contact_notes" ADD CONSTRAINT "sales_contact_notes_contact_id_fkey" FOREIGN KEY ("contact_id") REFERENCES "public"."sales_contacts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_contacts" ADD CONSTRAINT "sales_contacts_assigned_to_id_fkey" FOREIGN KEY ("assigned_to_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_contacts" ADD CONSTRAINT "sales_contacts_converted_company_id_fkey" FOREIGN KEY ("converted_company_id") REFERENCES "public"."companies"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_events" ADD CONSTRAINT "sales_events_contact_id_fkey" FOREIGN KEY ("contact_id") REFERENCES "public"."sales_contacts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."sales_events" ADD CONSTRAINT "sales_events_organizer_id_fkey" FOREIGN KEY ("organizer_id") REFERENCES "public"."people"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- RenameIndex
ALTER INDEX "public"."service_product_appliances_product_id_appliance_id_key" RENAME TO "service_product_appliances_product_appliance_key";

-- RenameIndex
ALTER INDEX "public"."service_article_products_article_id_product_id_key" RENAME TO "service_article_products_article_product_key";

-- RenameIndex
ALTER INDEX "public"."service_article_appliances_article_id_appliance_id_key" RENAME TO "service_article_appliances_article_appliance_key";

-- RenameIndex
ALTER INDEX "public"."partner_product_access_partner_id_product_id_serial_no_key" RENAME TO "partner_product_access_partner_product_serial_key";

-- RenameIndex
ALTER INDEX "public"."velin_task_assignments_source_source_ref_type_source_ref_id_idx" RENAME TO "velin_task_assignments_source_idx";

