<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="HolyOS CAD Bridge"
      Manufacturer="Best Series s.r.o."
      Version="2.9.16.0"
      UpgradeCode="B0A5F4E0-4D68-4E8A-8A7E-1C9F6B3E3E21"
      Scope="perMachine">

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="Novejsi verze HolyOS CAD Bridge je jiz nainstalovana." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="HolyOsFolder" Name="HolyOS">
        <Directory Id="INSTALLFOLDER" Name="CadBridge" />
      </Directory>
    </StandardDirectory>

    <Feature Id="Main" Title="HolyOS CAD Bridge" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="ShellExtensions" />
      <ComponentRef Id="Shortcut" />
    </Feature>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Component Id="MainExe" Guid="B1B2C3D4-1111-4BEF-A111-AAAA11110001">
        <File Id="HolyOsCadBridgeExe"
              Source="HolyOsCadBridge.exe"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ShellExtensions" Directory="INSTALLFOLDER">

      <Component Id="CtxSldPart" Guid="B1B2C3D4-1111-4BEF-A111-AAAA11110010">
        <RegistryKey Root="HKCR" Key="SldPart.Document\shell\HolyOsSubmit" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="Odevzdat do HolyOSu" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLFOLDER]HolyOsCadBridge.exe" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SldPart.Document\shell\HolyOsSubmit\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]HolyOsCadBridge.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </Component>

      <Component Id="CtxSldAsm" Guid="B1B2C3D4-1111-4BEF-A111-AAAA11110011">
        <RegistryKey Root="HKCR" Key="SldAssem.Document\shell\HolyOsSubmit" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="Odevzdat do HolyOSu" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLFOLDER]HolyOsCadBridge.exe" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SldAssem.Document\shell\HolyOsSubmit\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]HolyOsCadBridge.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </Component>

      <Component Id="CtxSldDrw" Guid="B1B2C3D4-1111-4BEF-A111-AAAA11110012">
        <RegistryKey Root="HKCR" Key="SldDraw.Document\shell\HolyOsSubmit" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="Odevzdat do HolyOSu" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLFOLDER]HolyOsCadBridge.exe" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SldDraw.Document\shell\HolyOsSubmit\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]HolyOsCadBridge.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </Component>

      <Component Id="CtxStl" Guid="B1B2C3D4-1111-4BEF-A111-AAAA11110013">
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.stl\shell\HolyOsSubmit" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="Odevzdat do HolyOSu" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLFOLDER]HolyOsCadBridge.exe" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.stl\shell\HolyOsSubmit\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]HolyOsCadBridge.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </Component>

      <Component Id="CtxDirectory" Guid="B1B2C3D4-1111-4BEF-A111-AAAA11110014">
        <RegistryKey Root="HKCR" Key="Directory\shell\HolyOsSubmit" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="Odevzdat do HolyOSu" />
          <RegistryValue Name="Icon" Type="string" Value="[INSTALLFOLDER]HolyOsCadBridge.exe" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="Directory\shell\HolyOsSubmit\command" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]HolyOsCadBridge.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </Component>

    </ComponentGroup>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="HolyOsMenuFolder" Name="HolyOS">
        <Component Id="Shortcut" Guid="B1B2C3D4-1111-4BEF-A111-AAAA11110020">
          <Shortcut Id="AppShortcut"
                    Name="HolyOS CAD Bridge"
                    Description="Odevzdavani CAD vykresu do HolyOSu"
                    Target="[INSTALLFOLDER]HolyOsCadBridge.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="RemoveHolyOsMenuFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\HolyOS\CadBridge" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

  </Package>
</Wix>
