openapi: 3.1.0
info:
  title: HolyOS — Skladový modul 2.0
  version: 0.1.0
  description: |
    Rozšíření REST API pro skladový modul HolyOS (sklad 2.0 — PWA čtečka + centrální tisk).

    Stávající endpointy pod `/api/wh/*` (companies, materials, orders, warehouses, locations,
    inventories, movements, stock, forecast, pricelist) jsou zachovány. Tento dokument popisuje
    **nově přidané endpointy** pro:
      - offline-first synchronizaci (PWA čtečka SUNMI L2H/L3)
      - lookup položek a lokací přes QR kód
      - zastřešující skladové dokumenty (DL, výdejka, přesunka, picking, inventura)
      - pickovací dávky
      - centralizovaný tisk etiket (TSC TC200, ZPL)

    **Autentizace:** všechny endpointy vyžadují JWT (`Authorization: Bearer ...` nebo `token` cookie).
    Shodné s ostatním HolyOS. Volání ze čtečky posílá navíc hlavičku `X-Device-Id` pro audit.

    **Offline dedup:** klient generuje `client_uuid` (UUID v4) pro každý `POST` mutující pohyb.
    Backend odmítne druhý request se stejným `client_uuid` jako idempotentní — vrátí 200 s původní
    odpovědí. Pole je v DB unikátní na `inventory_movements.client_uuid`.

servers:
  - url: https://holyos.bestseries.cz
    description: Produkce
  - url: http://localhost:3000
    description: Lokální vývoj

tags:
  - name: Sync
    description: Delta synchronizace katalogu pro offline PWA klienta
  - name: Lookup
    description: Vyhledání položky/lokace podle QR kódu
  - name: Moves
    description: Skladové pohyby (příjem, výdej, přesun, korekce, pick)
  - name: Documents
    description: Zastřešující skladové dokumenty
  - name: Batches
    description: Pickovací dávky
  - name: Inventory
    description: Inventury (start/finish/lock)
  - name: Print
    description: Tisk etiket a správa tiskáren

security:
  - bearerAuth: []
  - cookieAuth: []

paths:
  # ===========================================================================
  # SYNC — offline PWA klient
  # ===========================================================================
  /api/wh/sync/materials:
    get:
      tags: [Sync]
      summary: Delta sync katalogu materiálů
      description: |
        Vrací materiály aktualizované po `since`. Určeno pro PWA čtečku — stahuje inkrementálně.
      parameters:
        - in: query
          name: since
          schema: { type: string, format: date-time }
          description: ISO 8601 timestamp — změny po tomto čase
        - in: query
          name: sector
          schema: { type: string, enum: [vyroba, stavba, servis, eshop, pradelna] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Material' } }
                  server_time: { type: string, format: date-time }

  /api/wh/sync/locations:
    get:
      tags: [Sync]
      summary: Delta sync lokací
      parameters:
        - in: query
          name: since
          schema: { type: string, format: date-time }
        - in: query
          name: warehouse_id
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/WarehouseLocation' } }
                  server_time: { type: string, format: date-time }

  # ===========================================================================
  # LOOKUP — vyhledání z čtečky podle QR
  # ===========================================================================
  /api/wh/items/by-qr/{qr_code}:
    get:
      tags: [Lookup]
      summary: Lookup materiálu podle QR kódu
      description: |
        Primární endpoint pro čtečku — naskenuj QR → dostaneš materiál včetně aktuální zásoby
        po lokacích (top 10) a posledních pohybů.
      parameters:
        - in: path
          name: qr_code
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Materiál nalezen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MaterialDetail' }
        '404':
          description: Neznámý QR

  /api/wh/locations/by-qr/{qr_code}:
    get:
      tags: [Lookup]
      summary: Lookup lokace podle QR kódu
      parameters:
        - in: path
          name: qr_code
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Lokace nalezena (včetně seznamu materiálů na ní)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LocationDetail' }
        '404':
          description: Neznámý QR

  # ===========================================================================
  # MOVES — pohyby s offline semantikou
  # ===========================================================================
  /api/wh/moves:
    post:
      tags: [Moves]
      summary: Vytvoř skladový pohyb (idempotentní)
      description: |
        Zapíše pohyb do `inventory_movements` a transakčně aktualizuje `stock`.
        Pokud existuje pohyb se shodným `client_uuid`, vrátí původní odpověď a nevytváří duplicit.
      parameters:
        - in: header
          name: X-Device-Id
          required: false
          schema: { type: string }
          description: Identifikátor zařízení (pro audit)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MoveInput' }
      responses:
        '201':
          description: Pohyb vytvořen
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Move' }
        '200':
          description: Pohyb se shodným client_uuid už existuje — vrácen původní záznam
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Move' }
        '400':
          description: Neplatný vstup (chybný typ, záporné množství, neznámá lokace)
        '409':
          description: Nedostatek zásoby pro výdej (pokud je striktní kontrola)

    get:
      tags: [Moves]
      summary: Seznam pohybů (filtry + stránkování)
      parameters:
        - in: query
          name: material_id
          schema: { type: integer }
        - in: query
          name: warehouse_id
          schema: { type: integer }
        - in: query
          name: document_id
          schema: { type: integer }
        - in: query
          name: type
          schema: { type: string, enum: [receipt, issue, transfer, adjustment, pick, inventory_adjust] }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
        - in: query
          name: limit
          schema: { type: integer, default: 100, maximum: 500 }
      responses:
        '200':
          description: Seznam pohybů
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Move' }

  # ===========================================================================
  # DOCUMENTS — zastřešení pohybů (DL, výdejka, …)
  # ===========================================================================
  /api/wh/documents:
    get:
      tags: [Documents]
      summary: Seznam skladových dokumentů
      parameters:
        - in: query
          name: type
          schema: { type: string, enum: [receipt_doc, issue_doc, transfer_doc, pick_list, inventory_doc] }
        - in: query
          name: status
          schema: { type: string, enum: [draft, in_progress, completed, cancelled] }
        - in: query
          name: partner_id
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WarehouseDocument' }
    post:
      tags: [Documents]
      summary: Vytvoř dokument (draft)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type: { type: string, enum: [receipt_doc, issue_doc, transfer_doc, pick_list, inventory_doc] }
                partner_id: { type: integer, nullable: true }
                reference: { type: string, nullable: true }
                note: { type: string, nullable: true }
      responses:
        '201':
          description: Vytvořeno
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WarehouseDocument' }

  /api/wh/documents/{id}:
    get:
      tags: [Documents]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detail dokumentu s pohyby
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/WarehouseDocument'
                  - type: object
                    properties:
                      movements:
                        type: array
                        items: { $ref: '#/components/schemas/Move' }

  /api/wh/documents/{id}/complete:
    patch:
      tags: [Documents]
      summary: Uzavři dokument (status → completed)
      description: |
        Po uzavření nelze editovat. Oprava = nový opačný dokument.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Uzavřeno
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WarehouseDocument' }
        '409':
          description: Dokument není v in_progress stavu

  # ===========================================================================
  # BATCHES — pickovací dávky
  # ===========================================================================
  /api/wh/batches:
    get:
      tags: [Batches]
      summary: Seznam dávek
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [open, picking, done, cancelled] }
        - in: query
          name: assigned_to
          schema: { type: integer }
        - in: query
          name: sector
          schema: { type: string, enum: [vyroba, stavba, servis, eshop, pradelna] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Batch' }
    post:
      tags: [Batches]
      summary: Vytvoř dávku s položkami
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                sector: { type: string, enum: [vyroba, stavba, servis, eshop, pradelna] }
                assigned_to: { type: integer, nullable: true }
                note: { type: string, nullable: true }
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [material_id, quantity]
                    properties:
                      material_id: { type: integer }
                      quantity: { type: number }
                      from_location_id: { type: integer, nullable: true }
                      sort_order: { type: integer }
      responses:
        '201':
          description: Dávka vytvořena
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Batch' }

  /api/wh/batches/{id}:
    get:
      tags: [Batches]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detail dávky s položkami v pickovacím pořadí
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Batch'
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: '#/components/schemas/BatchItem' }

  /api/wh/batches/{id}/pick:
    post:
      tags: [Batches]
      summary: Potvrď vypickování jedné položky
      description: |
        Idempotentní přes `client_uuid`. Interně vytvoří pohyb typu `pick` z `from_location`.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [batch_item_id, picked_quantity, client_uuid]
              properties:
                batch_item_id: { type: integer }
                picked_quantity: { type: number }
                from_location_id: { type: integer, description: "Reálná zdrojová lokace (pokud se liší od doporučené)" }
                client_uuid: { type: string, format: uuid }
                note: { type: string, nullable: true }
      responses:
        '200':
          description: Položka napickována
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BatchItem' }
        '409':
          description: Nedostatek zásoby na lokaci

  /api/wh/batches/{id}/complete:
    patch:
      tags: [Batches]
      summary: Uzavři dávku
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Hotovo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Batch' }

  # ===========================================================================
  # INVENTORY — start/finish s lockem lokací
  # ===========================================================================
  /api/wh/inventories/{id}/start:
    post:
      tags: [Inventory]
      summary: Zahaj inventuru (zamkne dotčené lokace pro výdej/přesun)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Inventory' }

  /api/wh/inventories/{id}/finish:
    post:
      tags: [Inventory]
      summary: Dokonči inventuru (vytvoří inventory_adjust pohyby pro rozdíly)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK — vrátí souhrn + počet vygenerovaných pohybů
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Inventory'
                  - type: object
                    properties:
                      adjustments_count: { type: integer }
                      value_difference: { type: number }

  # ===========================================================================
  # PRINT — centrální tisk etiket
  # ===========================================================================
  /api/wh/printers:
    get:
      tags: [Print]
      summary: Seznam tiskáren (s živým stavem)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Printer' }
    post:
      tags: [Print]
      summary: Přidej tiskárnu (wizard 3 kroky na frontendu)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PrinterInput' }
      responses:
        '201':
          description: Vytvořeno
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Printer' }

  /api/wh/printers/{id}:
    get:
      tags: [Print]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detail tiskárny
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Printer' }
    patch:
      tags: [Print]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PrinterInput' }
      responses:
        '200':
          description: Upraveno
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Printer' }
    delete:
      tags: [Print]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Smazáno

  /api/wh/printers/{id}/test:
    post:
      tags: [Print]
      summary: Pošli zkušební etiketu
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK — výsledek TCP probe + test print
          content:
            application/json:
              schema:
                type: object
                properties:
                  ping_ok: { type: boolean }
                  print_ok: { type: boolean }
                  latency_ms: { type: integer }
                  error: { type: string, nullable: true }

  /api/wh/print:
    post:
      tags: [Print]
      summary: Vytiskni etiketu (z webu i PWA)
      description: |
        Vyplní šablonu `template` hodnotami `data`, vygeneruje ZPL a pošle na tiskárnu.
        Pokud `printer_id` chybí, autoselekce:
          1. uživatelská preference (X-Device-Id → user pref)
          2. tiskárna přiřazená k lokaci kontextu
          3. nejvyšší priorita z aktivních
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [template, data]
              properties:
                template: { type: string, description: "Code šablony, např. 'item_label'" }
                data: { type: object, additionalProperties: true }
                printer_id: { type: integer, nullable: true }
                copies: { type: integer, default: 1, minimum: 1, maximum: 99 }
                location_id: { type: integer, nullable: true, description: "Pro autoselekci tiskárny" }
      responses:
        '200':
          description: Tisková úloha zařazena
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PrintJob' }
        '503':
          description: Žádná dostupná tiskárna (offline)

  /api/wh/print/jobs:
    get:
      tags: [Print]
      summary: Historie tiskových úloh (audit)
      parameters:
        - in: query
          name: printer_id
          schema: { type: integer }
        - in: query
          name: status
          schema: { type: string, enum: [queued, printing, done, failed] }
        - in: query
          name: limit
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PrintJob' }

  /api/wh/label-templates:
    get:
      tags: [Print]
      summary: Seznam šablon etiket
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/LabelTemplate' }
    post:
      tags: [Print]
      summary: Vytvoř šablonu
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LabelTemplateInput' }
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LabelTemplate' }

  /api/wh/label-templates/{id}:
    patch:
      tags: [Print]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LabelTemplateInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LabelTemplate' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: token

  schemas:
    # -------------------------------------------------------------------------
    Material:
      type: object
      properties:
        id: { type: integer }
        code: { type: string }
        barcode: { type: string, nullable: true }
        name: { type: string }
        unit: { type: string }
        sector: { type: string, nullable: true, enum: [vyroba, stavba, servis, eshop, pradelna] }
        current_stock: { type: number }
        min_stock: { type: number, nullable: true }
        updated_at: { type: string, format: date-time }

    MaterialDetail:
      allOf:
        - $ref: '#/components/schemas/Material'
        - type: object
          properties:
            stock_by_location:
              type: array
              items:
                type: object
                properties:
                  location_id: { type: integer }
                  location_label: { type: string }
                  quantity: { type: number }
            last_movements:
              type: array
              items: { $ref: '#/components/schemas/Move' }

    WarehouseLocation:
      type: object
      properties:
        id: { type: integer }
        warehouse_id: { type: integer }
        label: { type: string }
        barcode: { type: string, nullable: true }
        type: { type: string, enum: [warehouse, aisle, rack, position, workstation_in, workstation_out] }
        section: { type: string, nullable: true }
        rack: { type: string, nullable: true }
        position: { type: string, nullable: true }
        locked_for_inventory: { type: boolean }

    LocationDetail:
      allOf:
        - $ref: '#/components/schemas/WarehouseLocation'
        - type: object
          properties:
            stock:
              type: array
              items:
                type: object
                properties:
                  material_id: { type: integer }
                  material_code: { type: string }
                  material_name: { type: string }
                  quantity: { type: number }

    # -------------------------------------------------------------------------
    MoveInput:
      type: object
      required: [type, material_id, quantity, client_uuid]
      properties:
        client_uuid:
          type: string
          format: uuid
          description: UUID v4 generované klientem. Deduplikace při offline resendu.
        type:
          type: string
          enum: [receipt, issue, transfer, adjustment, pick, inventory_adjust]
        material_id: { type: integer }
        quantity: { type: number, description: "Kladné číslo. Typ pohybu určuje směr." }
        warehouse_id: { type: integer }
        location_id: { type: integer, nullable: true, description: "Pro jednoduchý příjem/výdej" }
        from_location_id: { type: integer, nullable: true, description: "Pro transfer/pick" }
        to_location_id: { type: integer, nullable: true, description: "Pro transfer/příjem na konkrétní lokaci" }
        document_id: { type: integer, nullable: true }
        unit_price: { type: number, nullable: true }
        reference_type: { type: string, nullable: true }
        reference_id: { type: integer, nullable: true }
        note: { type: string, nullable: true }

    Move:
      type: object
      properties:
        id: { type: integer }
        client_uuid: { type: string, format: uuid, nullable: true }
        type: { type: string }
        material_id: { type: integer }
        warehouse_id: { type: integer }
        location_id: { type: integer, nullable: true }
        from_location_id: { type: integer, nullable: true }
        to_location_id: { type: integer, nullable: true }
        quantity: { type: number }
        document_id: { type: integer, nullable: true }
        created_by: { type: integer, nullable: true }
        device_id: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    # -------------------------------------------------------------------------
    WarehouseDocument:
      type: object
      properties:
        id: { type: integer }
        type: { type: string, enum: [receipt_doc, issue_doc, transfer_doc, pick_list, inventory_doc] }
        number: { type: string }
        status: { type: string, enum: [draft, in_progress, completed, cancelled] }
        partner_id: { type: integer, nullable: true }
        reference: { type: string, nullable: true }
        note: { type: string, nullable: true }
        created_by: { type: integer, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    # -------------------------------------------------------------------------
    Batch:
      type: object
      properties:
        id: { type: integer }
        number: { type: string }
        sector: { type: string, nullable: true, enum: [vyroba, stavba, servis, eshop, pradelna] }
        status: { type: string, enum: [open, picking, done, cancelled] }
        assigned_to: { type: integer, nullable: true }
        started_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    BatchItem:
      type: object
      properties:
        id: { type: integer }
        batch_id: { type: integer }
        material_id: { type: integer }
        from_location_id: { type: integer, nullable: true }
        quantity: { type: number }
        picked_quantity: { type: number, nullable: true }
        status: { type: string, enum: [pending, picked, short, skipped] }
        sort_order: { type: integer }
        picked_by: { type: integer, nullable: true }
        picked_at: { type: string, format: date-time, nullable: true }

    # -------------------------------------------------------------------------
    Inventory:
      type: object
      properties:
        id: { type: integer }
        warehouse_id: { type: integer }
        name: { type: string }
        status: { type: string, enum: [draft, in_progress, completed] }
        started_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }

    # -------------------------------------------------------------------------
    Printer:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        model: { type: string }
        location_id: { type: integer, nullable: true }
        connection_type: { type: string, enum: [lan, usb] }
        ip_address: { type: string, nullable: true }
        port: { type: integer, nullable: true }
        language: { type: string, enum: [ZPL, TSPL, EPL] }
        label_width_mm: { type: number }
        label_height_mm: { type: number }
        dpi: { type: integer }
        priority: { type: integer }
        is_active: { type: boolean }
        last_ping_ok: { type: string, format: date-time, nullable: true }

    PrinterInput:
      type: object
      required: [name, model, connection_type]
      properties:
        name: { type: string, maxLength: 100 }
        model: { type: string, description: "TSC_TC200 (preset) | ZEBRA_GK420 | CUSTOM" }
        location_id: { type: integer, nullable: true }
        connection_type: { type: string, enum: [lan, usb], default: lan }
        ip_address: { type: string, nullable: true }
        port: { type: integer, nullable: true }
        language: { type: string, enum: [ZPL, TSPL, EPL], default: ZPL }
        label_width_mm: { type: number, default: 60 }
        label_height_mm: { type: number, default: 20 }
        dpi: { type: integer, default: 203 }
        priority: { type: integer, default: 0 }
        is_active: { type: boolean, default: true }

    LabelTemplate:
      type: object
      properties:
        id: { type: integer }
        code: { type: string }
        name: { type: string }
        language: { type: string, enum: [ZPL, TSPL, EPL] }
        width_mm: { type: number }
        height_mm: { type: number }
        body: { type: string }
        description: { type: string, nullable: true }
        is_active: { type: boolean }

    LabelTemplateInput:
      type: object
      required: [code, name, body]
      properties:
        code: { type: string, maxLength: 50 }
        name: { type: string, maxLength: 255 }
        language: { type: string, enum: [ZPL, TSPL, EPL], default: ZPL }
        width_mm: { type: number, default: 60 }
        height_mm: { type: number, default: 20 }
        body: { type: string }
        description: { type: string, nullable: true }
        is_active: { type: boolean, default: true }

    PrintJob:
      type: object
      properties:
        id: { type: integer }
        template_id: { type: integer, nullable: true }
        printer_id: { type: integer }
        data: { type: object, additionalProperties: true }
        copies: { type: integer }
        status: { type: string, enum: [queued, printing, done, failed] }
        error: { type: string, nullable: true }
        requested_by: { type: integer, nullable: true }
        device_id: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
